<header>
  <div class="container">
    {%- assign default_paths = site.pages | map: "path" -%}
    {%- assign page_paths = site.header_pages | default: default_paths -%}
    {%- assign titles_size = site.pages | map: 'title' | join: '' | size -%}

    <a href="{{ site.url }}" class="title">
      <h1>{{ site.title | default: site.github.repository_name }}</h1>
    </a>
    <h2>{{ site.description | default: site.github.project_tagline }}</h2>

    <section id="downloads">
      {%- for path in page_paths -%}
        {%- assign my_page = site.pages | where: "path", path | first -%}
        {%- if my_page.title -%}
        <a class="btn" href="{{ my_page.url | relative_url }}">{{ my_page.title | escape }}</a>
        {% endif -%}
      {%- endfor -%}
      <a class="btn" href="https://github.com/nytr0gen">
        <i class="icon-github"></i> GitHub
      </a>
      <a class="btn" href="https://twitter.com/nytr0gen_">
        <i class="icon-twitter"></i> Twitter
      </a>
      <a class="btn" href="https://ctftime.org/user/42656">
        CTFtime
      </a>
      <a class="btn" href="https://hackerone.com/nytr0gen">
        HackerOne
      </a>
    </section>
  </div>
</header>
